html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.turn-title {
  white-space: nowrap;
}

.cansel-button {
  top: 650px !important; 
}

.win-title {
  margin-top:5px !important;
}

.button-cont {
  bottom: 30px !important;
}

.next-button {
  margin-top: 0px !important;
  top: 95% !important;
}

.answer-variations-card-cont {
  margin-top: 0px !important;
}

.next2 {
  top: 75% !important;
}
